body { background: #3f4991; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 38px; display: flex; }
.block-search-0 { color: #c88d54; font-size: 18px; margin-bottom: 5px; }
.block-invoice-1 { color: #db0901; font-size: 21px; margin-bottom: 5px; }
.block-token-2 { color: #b3f1a9; font-size: 14px; margin-bottom: 5px; }
.block-metrics-3 { color: #206f36; font-size: 13px; margin-bottom: 5px; }
.block-config-4 { color: #3d227; font-size: 18px; margin-bottom: 5px; }